.navBar {
    border: 5px solid green;
    padding: 5px;
    
}

img {
    width: 200px;
}

.aboutMe {
    background-color: pink;
}

.Posts {
    background-color: green;
}

.navBar {
    display: flex;
    justify-content: space-around;
}
My Friends{
    background-color: blue;
}